#sidebar, #header-wrapper, .collapse, a, #fund_multi_select, #user-options, .ui-multiselect-menu{
    display: none;
    visible: false;
}
.content {
    height: auto;
    overflow: visible;
    overflow-y: visible;
}
    body,body.blue_texture.DTTT_Print 																{ background: none;}
