{% extends "site_base.html" %}
{% block top_nav %}{% endblock %}
{% block side_nav %}{% endblock %}
{% block body_class %}texture{% endblock %}
{% block content %}
    
    <div class="container">
        <div class="row">
        
                <div class="panel-wrapper panel-login">
                        <img style='margin-bottom: 4px;' src="{{ STATIC_URL}}images/leap_logo.png" />
                    {% ifequal "invalid_user" error %}
                        <div class="notice error" style='margin-bottom: 8px;'>
                            <span>
                                <strong>Error: </strong>Invalid Username/Password
                            </span>
                        </div>
                    {% endifequal %}
                    {% ifequal "expired" error %}
                        <div class="notice error" style='margin-bottom: 8px;'>
                            <span>
                                <strong>Error: </strong>Session Expired
                            </span>
                        </div>
                    {% endifequal %}
                    <div class="panel">
                        <div class="title">
                            <h4>User Login</h4>
                            <!--<div class="option">Sign up for free &raquo;</div>-->
                        </div>
                        
                        <div class="content">
                        <!-- ## Panel Content  -->

                            <form method="post" action="." >
                                {% csrf_token %}
                                <div>
                                    <input type="text" name="username" value="{{ username }}" />
                                </div>
                                
                                <div>
                                    <input type="password" name="password" value="{{ password }}" />
                                </div>
                                 
                                <div>
                                    <input type='submit' class="button-blue submit" value='Login' />
                                </div>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </form>
                        
                        <!-- ## / Panel Content  -->

                        <span style="float: left; padding-left: 20px; padding-bottom: 0px; padding-top: 4px; clear: both;">
                            <a id="tos_link" href="#">Terms of Service</a>
                        </span>
                        <span id="siteseal" style="padding-right: 5px; float: right;"><script type="text/javascript" src="https://seal.starfieldtech.com/getSeal?sealID=LuGmVGnN4QaizRI9xGIf7pxf5kYSoOXkREi97WkSI0cXB16Yj5kEq2SN"></script></span>
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                
                
        </div>  
    </div>
    <div id="tos_div" class="container" style="display: none;">
        <div class="row">
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="content">
                            <p style="padding: 5px;">Welcome to the Life Equity Access Portal. This is a secure website for use by authorized Life Equity customers. Usage of this website is governed by the User Agreement and Terms of Use. By signing into this website, you acknowledge your understanding of and agree to abide by each agreement. Any use that violates any of the terms of either agreement may result in deletion of your account and/or other actions.</p>
                            <p style="padding: 5px;">A user ID and password is required for access. Click on the Login button above to enter your credentials. If you do not know your ID and/or password or have not been given account information, please contact Life Equity (contact information provided below).</p>
                                <!--<a href="#">Privacy Policy</a>-->
                        </div>
                    </div>
                </div>
                </div>
                        <!--<span style="float: left; padding-left: 20px; padding-bottom: 14px; clear: both;">
                            <a href="#">Terms of Service</a>
                        </span>-->
                <!--<div class="login-details">
                    <p>Forgot your password? &nbsp;&nbsp;&nbsp;<a href="#">Click here</a></p>
                </div>-->
            </div>
                        {% endblock %}
{% block extra_head %}
<!-- Charts -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="_layout/scripts/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.raphael/raphael-min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.morris/morris.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.pie.js'></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#tos_link").click(function(){
                    $("#tos_div").toggle();
                });
            });
        </script>
{% endblock %}
