{% extends "site_base.html" %}
{% load humanize %}
{% block content %}
                
                
                
                <div class="fixed">
                    <div class="sixcol">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Policy Detail</h4>
                                    <div class="link"><a href="#">Policy Documents</a></div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <table>
                                        <tr><td>Sub Fund:</td><td>{{ policy.SubFundName }}</td></tr>
                                        <tr><td>Policy Number:</td><td>{{ policy.PolicyNumber }}</td></tr>
                                        <tr><td>Funder Policy ID:</td><td>{{ policy.FunderPolicyID }}</td></tr>
                                        <tr><td>Insured Name:</td><td>{{ policy.FullNameLastFirst }}</td></tr>
                                        <tr><td>Current NDB:</td><td>${{ policy.PurchasedDB|intcomma }}</td></tr>
                                        <tr><td>Current Face:</td><td>${{ policy.CurrentDeathBenefit|intcomma }}</td></tr>
                                        <tr><td>Insurance Company:</td><td>{{ policy.InsuranceCompanyName }}</td></tr>
                                        <tr><td>Product Name:</td><td>{{ policy.ProductName}}</td></tr>
                                        <tr><td>Issue Date:</td><td>{{ policy.IssueDate|date:"m/d/Y"}}</td></tr>
                                        <tr><td>Policy Status:</td><td>{{ policy.Status}}</td></tr>
                                        <tr><td>Policy Type:</td><td>{{ policy.Type}}</td></tr>
                                        <tr><td>Benefit Type:</td><td>{{ policy.BenefitType}}</td></tr>
                                        <tr><td>Policy State:</td><td>{{ policy.State}}</td></tr>
                                    </table>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                
                    <div class="sixcol last">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Insured Details</h4>
                                </div>
                                
                                <div class="content">
                                    <table>
                                        <thead>
                                            <tr><td>&nbsp;</td><td>Insured 1</td><td>Insured 2</td></tr>
                                        <tr><td>Name:</td><td>{{ policy.InsuredID_Primary.FullNameLastFirst }}</td><td>{{ policy.InsuredID_Secondary.FullNameLastFirst }}</td></tr>
                                        <tr><td>DOB:</td><td>{{ policy.InsuredID_Primary.DOB|date:"m/d/Y" }}</td><td>{{ policy.InsuredID_Secondary.DOB|date:"m/d/Y" }}</td></tr>
                                        <tr><td>DOD:</td><td>{{ policy.InsuredID_Primary.DOD }}</td><td>{{ policy.InsuredID_Secondary.DOD }}</td></tr>
                                        <tr><td>Spouse Name:</td><td>{{ policy.InsuredID_Primary.SpouseName }}</td><td>{{ policy.InsuredID_Secondary.SpouseName }}</td></tr>
                                        <tr><td>Gender:</td><td>{{ policy.InsuredID_Primary.Gender }}</td><td>{{ policy.InsuredID_Secondary.Gender }}</td></tr>
                                        <tr><td>Marital Status:</td><td>{{ policy.InsuredID_Primary.MaritalStatus }}</td><td>{{ policy.InsuredID_Secondary.MaritalStatus }}</td></tr>
                                        <tr><td>Funder Insured ID:</td><td>{{ policy.InsuredID_Primary.FunderInsuredID }}</td><td>{{ policy.InsuredID_Secondary.FunderInsuredID }}</td></tr>
                                        <tr><td>Last SSN Sweep:</td><td>{{ policy.InsuredID_Primary.SSN }}</td><td>{{ policy.InsuredID_Secondary.SSN }}</td></tr>
                                        <tr><td>Insured Documents:</td><td><a href="#">View</a></td><td><a href="#">View</a></td></tr>
                                    </table>
                                </div>
                                
                            </div>
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Policy Events</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    <th>Event Type</th> 
                                    <th>Status</th> 
                                    <th>Start Date</th> 
                                    <th>Complete Date</th> 
                                    <th>Job Number</th> 
                                    <th>Event Description</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in policy_events %}
                                <tr> 
                                    <td style="vertical-align: top;">{{ p.EventType }}</td> 
                                    <td style="vertical-align: top;">{{ p.Status }}</td> 
                                    <td style="vertical-align: top;">{{ p.StartDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ p.CompleteDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ p.JobID }}</td> 
                                    <td style="vertical-align: top;">{{ p.Comments }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Premium History</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    <th>Due Date</th> 
                                    <th>Amount Due</th> 
                                    <th>Payee Name</th> 
                                    <th>Prem Applied Date</th> 
                                    <th>Prem Conf Method</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in premium_history %}
                                <tr> 
                                    <td style="vertical-align: top;">{{ p.DueDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">${{ p.PremiumDue|intcomma }}</td> 
                                    <td style="vertical-align: top;">{{ p.Payee }}</td> 
                                    <td style="vertical-align: top;">{{ p.PremiumReceivedDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ p.PremConfMethod }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Premiums Scheduled</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    <th>Due Date</th> 
                                    <th>Amount Due</th> 
                                    <th>Payee Name</th> 
                                    <th>Prem Applied Date</th> 
                                    <th>Prem Conf Method</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in premiums_scheduled %}
                                <tr> 
                                    <td style="vertical-align: top;">{{ p.DueDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">${{ p.PremiumDue|intcomma }}</td> 
                                    <td style="vertical-align: top;">{{ p.Payee }}</td> 
                                    <td style="vertical-align: top;">{{ p.PremiumReceivedDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ p.PremConfMethod }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Grace Events</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    <th>Notice Date</th> 
                                    <th>Lapse Date</th> 
                                    <th>Grace Status</th> 
                                    <th>Date Entered Grace</th> 
                                    <th>Total Amount Due</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for g in grace_events %}
                                <tr> 
                                    <td style="vertical-align: top;">{{ g.EventType }}</td> 
                                    <td style="vertical-align: top;">{{ g.Status }}</td> 
                                    <td style="vertical-align: top;">{{ g.StartDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.CompleteDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.JobID }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
<div id="dialog-modal" style="display: none;" title="Expanded information dialog here">
                        <table id=""> 
                            <thead>
                                <tr>
                                    <th colspan="2">Insured Information</th>
                                </tr>
                            </thead>

        
                            <tbody> 
                                <tr> 
                                    <tr><td style="width: 100px;">Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Notes</td><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum laoreet mattis. Pellentesque ullamcorper sem sed massa rhoncus laoreet euismod nulla ornare. Praesent sollicitudin sollicitudin mauris sit amet hendrerit. Aliquam et turpis non turpis eleifend tempus. Curabitur auctor fringilla lorem non sodales.</td></tr>
                                </tr> 
                            </tbody> 
                        </table> 
</div>

                                <!-- ## / Panel Content  -->
                        {% endblock %}
{% block extra_head %}
<!-- Charts -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="_layout/scripts/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <script type="text/javascript">
            $(document).ready(function() {
                $('#sample-table-sortablesafdsafd').dataTable({
                    //"sPaginationType": "full_numbers",
                    "sDom": 'R<"H"lfr>t<"F"ip<'
                });

                $(function() {
        // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
                $("#sample-table-sortable").find("tr").bind("dblclick", function(){
                    $( "#dialog:ui-dialog" ).dialog( "destroy" );
                
                    $( "#dialog-modal" ).dialog({
                        height: 300,
                        width: 400,
                        modal: true,
                        buttons: {
                                        "Close": function() {
                                            $( this ).dialog( "destroy" );
                                        }
                                    },
                        close: function() {
                            $( this ).dialog( "destroy" );
                        }
                    });
                });

    });
            });
</script>
{% endblock %}
