{% extends "site_base.html" %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tabletools.min.js"></script>
<script type="text/javascript">

         var oTable;
    $(document).ready(function() {
        $("#fund_multi_select").multiselect({
            selectedList: 4, // 0-based index
            noneSelectedText: 'Select Funds to Limit By',
            close: function(event, ui){
                $.post(
                    "/leap/leap_set_session/",
                    {'funds': $("#fund_multi_select").val()},
                    function(){
                        self.location.reload();
                        // Here we can do whatever is necessary
                    }

                );
            }

        });
        $.fn.getDataTablesHeaders = function(){
            headers = Array();
            selector = $(this).selector + ' thead th';
            $(selector).each(function(){
                headers.push($(this).html());
            });

            return headers;
        };

         oTable = $('#sample-table-sortable2').dataTable({
            //"sPaginationType": "full_numbers",
            "sDom": 'RT<"H"lfr>t<"F"ip<',
            "bRetrieve": true,
            "iDisplayLength": 25,
            //"aaSorting": [ [5, 'asc'], [2, 'desc'] ],
            "aaSorting": [],
            "aoColumns": [
                null,
                null,
                { "sType": "date" },
                null,
                null,
                null
            ],
            "oTableTools": {
                "sCsvBoundary": '"',
                "sSwfPath": "{{ STATIC_URL}}js/copy_csv_xls_pdf.swf",
                "aButtons": [
                                {
                                    "sExtends": "print",
                                    "sButtonText": "Print"
                                },
                                {
                                    "sExtends": "pdf",
                                    "sButtonText": "PDF"
                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Excel",
                                    "fnClick" : function(nButton, oConfig){
                                        $('<form action="{{ requst.META.uri }}" method="post"><form></form>').appendTo('body').submit().remove()
                                    }

                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Select All",
                                    "fnClick" : function(nButton, oConfig){
                                        $(".mark_read").each(function(){
                                            $(this).attr("checked", "checked");
                                        });
                                        // this will check even hidden elements
                                        /*$('input', oTable.fnGetNodes()).each( function() {
                                                $('input', oTable.fnGetNodes()).attr('checked','checked');
                                                } );*/
                                        return false; // to avoid refreshing the page


                                    }

                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Mark as Read",
                                    "fnClick" : function(nButton, oConfig){
                                        $('<form action="{{ requst.META.uri }}" name="hidden-read-form" id="hidden-read-form" method="post"><input type="hidden" name="mark_read" value="1" />').appendTo('body')
                                        $(".mark_read:checked").each( function(){
                                            $('<input type="hidden" name="mark_read_list[]" value="' + $(this).val() + '" />').appendTo("#hidden-read-form");
                                        });
                                        $('</form>').appendTo("#hidden-read-form");
                                        $('#hidden-read-form').submit()

                                    }

                                }
                            ]
            }
            
        });

    });
</script>

{% endblock %}
{% block content %}
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Alert List</h4>
                            <div><div style='' id="demo"></div></div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        <table id="sample-table-sortable2"> 
                            <thead> 
                                <tr> 
                                    <th>Mark Read</th>
                                    {% for column in columns %}
                                    <th>{{ column }}</th> 
                                    {% endfor %}
                                </tr> 
                            </thead> 
                            <tbody>
                                {% for a in list %}
                                <tr>
                                    <td class="">{% if not a.is_read %}<input class="mark_read" type="checkbox" name="read[]" value = "{{ a.UniqueID }}" />&nbsp; Select{% else %}&nbsp;{% endif %}</td>
                                    <td class="">{{ a.AlertType }}</td>
                                    <td class="">{{ a.AlertDateTime|date:"n/d/Y" }}</td>
                                    <td class="">{{ a.AlertString }}</td>
                                    <td class=""><a href="{{ a.alert_link }}">{{ a.AlertLinkText }}</a></td>
                                    <td class="">{% if not a.is_read %}<a href="{% url read_alert a.UniqueID %}">Mark Read</a>{% else %} Read {% endif %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        
                        <!-- ## Panel Content  -->
                        
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
{% endblock %}
