{% extends "site_base.html" %}
{% load humanize %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/charts.js"></script>
<script type="text/javascript">
    var remaining_le_distribution_chart_data = {{ remaining_le_distribution_chart_data|safe }};
    var insurance_company_distribution_data = {{ insurance_company_distribution_data_json|safe }};
    var gender_age_breakdown_data = {{ gender_age_breakdown_data_json|safe }};
    var generated_series_styles = {{ generated_series_styles|safe}}
    var age_distribution_colors = {{ age_distribution_colors|safe}}
</script>
{% endblock %}
{% block content %}



                <div class="fixed">
                    <div class="twelvecol first">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Remaining LE Distribution</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="remaining_le_distribution" name="remaining_le_distribution"  class="graph"></div>
        
                                </div>
                                    
                                    <!-- ## / Panel Content  -->
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
                <div class="fixed">
                    <div class="twelvecol first">
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Gender Age Breakdown</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="gender_age_breakdown" name="gender_age_breakdown" width="100" height="100" class="graph"></div>
                                    <div  width="100" height="100" >
                                        <table id="gender_age_breakdown_table" name="gender_age_breakdown_table" class="sortable">
                                            <thead>
                                                <tr>
                                                    <th>Gender Age Group</th>
                                                    <th>% Total DB</th>
                                                    <th>Total DB</th>
                                                    <th>Policy Count</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for g in gender_age_breakdown_data %}
                                                <tr>
                                                    <td class="wijchart-legend-icon.wijchart-legend"><div style="float: left; margin-right: 3px; height: 12px; width: 20px; background-color:{{ g.color }}; border: 1px solid gray; padding-top: 3px;"></div>{{ g.label }}</td>
                                                    <td>{{ g.percent }}%</td>
                                                    <td>${{ g.data|intcomma }}</td>
                                                    <td>{{ g.count }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
        
                                    </div>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                </div>
                <div class="fixed">
                    <div class="twelvecol first">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Insurance CO Distribution</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="insurance_company_distribution" name="insurance_company_distribution" width="100" height="100" class="graph"></div>
                                    <div  width="100" height="100" >
                                        <table id="insurance_company_distribution_table" name="insurance_company_distribution_table" class="sortable">
                                            <thead>
                                                <tr>
                                                    <th>Insurance Company</th>
                                                    <th>% Total DB</th>
                                                    <th>Total</th>
                                                    <th>Policies</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in insurance_company_distribution_data %}
                                                <tr>
                                                    <td class="wijchart-legend-icon.wijchart-legend"><div style="margin-right: 3px; float: left; height: 12px; width: 20px; color:{{ i.color }}; background-color:{{ i.color }}; border: 1px solid gray; padding-top: 3px;">&nbsp;</div>{{ i.label_name_only }}</td>
                                                    <td>{{ i.percent}}%</td>
                                                    <td>${{ i.data|intcomma }}</td>
                                                    <td>{{ i.policy_count}}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
        
                                    </div>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                </div>
                </div>
                <div id='months_since_le_explanation' style='display: none;'>
                    <p>This graph indicates the age (in months versus today) of the most recent Life Expectancy report on file for each insured.</p>
                </div>
                        {% endblock %}
