{% extends "site_base.html" %}
{% load humanize %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script type="text/javascript">
    var premiums_chart_data = {{ premiums_chart_data|safe }};
    var report_by_age_sex_data = {{ report_by_age_sex_data|safe }};
    var generated_series_styles = {{ generated_series_styles|safe}}
    $(function(){
        $('#months_since_le').click(function(){
            $("#months_since_le_explanation").dialog({
                title: 'Graph Explanation' 
                
                });
                return false;
            });

            });
</script>
{% endblock %}
{% block content %}



                <div class="fixed">
                    <div class="sixcol first">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Alerts ({{ alert_count}} new)</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div id='scrollable-div' class="content" >
                                    <!-- ## Panel Content  -->
                                    
                                        <table id="alerts_list" name="alerts_list" class="sortable">
                                            <thead>
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Date</th>
                                                    <th>Note</th>
                                                    <th>Link</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for a in alerts %}
                                                <tr>
                                                    <td class="">{{ a.AlertType }}</td>
                                                    <td class="">{{ a.AlertDateTime|date:"n/d/Y" }}</td>
                                                    <td class="">{{ a.AlertString }}</td>
                                                    <td class=""><a href="{{ a.alert_link }}">{{ a.AlertLinkText }}</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                    <div class="sixcol last">
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Portfolio Summary</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div id='scrollable-div' class="content" >
                                    <!-- ## Panel Content  -->
                                    
                                        <table id="portfolio_summary" name="portfolio_summary">
                                            <tbody>
                                                {% for r in report_table %}
                                                    {% for key, value in r.items %}
                                                    <tr style="font-weight: bold;">
                                                        <td style='height: 32px;' class="">{{ key|safe }}</td><td style='height: 32px;'>{{ value|safe }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    
                    </div>
                
                </div>
                <div class="fixed">
                    <div class="sixcol first">
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Premiums</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="premiums_chart" name="premiums_chart" class="graph"></div>

                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                    <div class="sixcol last">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4><a href="#" id='months_since_le'>Life Expectancy Aging Distribution</a></h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="aging_le_in_months" name="aging_le_in_months" class="graph"></div>

                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                
                </div>
                
                </div>
                <div id='months_since_le_explanation' style='display: none;'>
                    <p>This graph indicates the age (in months versus today) of the most recent Life Expectancy report on file for each insured.</p>
                </div>
                        {% endblock %}
