{% extends "site_base.html" %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tabletools.min.js"></script>
<script type="text/javascript">

         var oTable;
    $(document).ready(function() {
        $("#fund_multi_select").multiselect({
            selectedList: 4, // 0-based index
            noneSelectedText: 'Select Funds to Limit By',
            close: function(event, ui){
                $.post(
                    "/leap/leap_set_session/",
                    {'funds': $("#fund_multi_select").val()},
                    function(){
                        self.location.reload();
                        // Here we can do whatever is necessary
                    }

                );
            }

        });
        $.fn.getDataTablesHeaders = function(){
            headers = Array();
            selector = $(this).selector + ' thead th';
            $(selector).each(function(){
                headers.push($(this).html());
            });

            return headers;
        };

         oTable = $('#sample-table-sortable').dataTable({
            //"sPaginationType": "full_numbers",
            "sDom": 'RT<"H"lfr>t<"F"ip<',
            "bRetrieve": true,
            "iDisplayLength": 25,
            "oTableTools": {
            "aoColumns": [
                { "bVisible" : false },
                null,
                null,
                null,
                null,
                { "sType": "currency" },
                null,
                null,
                null,
                null
            ],
                "sCsvBoundary": '"',
                "sSwfPath": "{{ STATIC_URL}}js/copy_csv_xls_pdf.swf",
                "aButtons": [
                                {
                                    "sExtends": "print",
                                    "sButtonText": "Print"
                                },
                                {
                                    "sExtends": "pdf",
                                    "sButtonText": "PDF"
                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Excel",
                                    "fnClick" : function(nButton, oConfig){
                                        $('<form action="{{ requst.META.uri }}" method="post"><form></form>').appendTo('body').submit().remove()
                                    }

                                }
                            ]
            }
            
        });
        {% ifequal active_page "outdated_insured_list" %}
            oTable.fnSort( [ [6,'desc'] ] );
        {% endifequal %}

    });
</script>

{% endblock %}
{% block content %}
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>{% if table_title %}{{ table_title }} {% else %}{{ page_title }}{% endif %}</h4>
                            <div><div style='' id="demo"></div></div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    {% for column in columns %}
                                    <th>{{ column }}</th> 
                                    {% endfor %}
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for l in list %}
                                <tr> 
                                    <td><a href="{% url insured_detail l.InsuredID %}">{{ l.FullNameLastFirst.strip }}</a></td>
                                    <td>{{ l.DOB|date:"n/d/Y" }} </td>
                                    {% if "DOD" in columns %}
                                        <td>{{ l.DOD|date:"n/d/Y" }} </td>
                                    {% endif %}
                                    <td>{{ l.SSN.strip }} </td>
                                    <td>{{ l.Gender.strip }} </td>
                                    <td>{{ l.MaritalStatus.strip }} </td>
                                    <td>{{ l.FunderInsuredID.strip }} </td>
                                    {% if "Report Age" in columns %}
                                        {% if l.AgeOfReport %}
                                            <td>{{ l.AgeOfReport }} Months</td>
                                        {% else %}
                                            <td>{{ l.AgeOfReport }}</td>

                                        {% endif %}
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        
                        <!-- ## Panel Content  -->
                        
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
{% endblock %}
