{% extends "site_base.html" %}
{% load humanize %}
{% block content %}

                
                
                
                <div class="fixed">
                    <div class="sixcol">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Insured Details</h4>
                                    <div class="link"><a target="_blank" href="{% url document_viewer 'insured' insured.InsuredID %}">Insured Documents</a></div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <table>
                                        <tr><td>Name:</td><td>{{ insured.FullNameLastFirst }}</td></tr>
                                        <tr><td>Status:</td><td>{{ insured.InsuredStatus }}</td></tr>
                                        <tr><td>Gender:</td><td>{{ insured.Gender }}</td></tr>
                                        <tr><td>SSN:</td><td>{{ insured.SSN }}</td></tr>
                                        <tr><td>DOB:</td><td>{{ insured.DOB|date:"m/d/Y"}}</td></tr>
                                        <tr><td>Age:</td><td>{{ insured.AgeinYrs}} yrs</td></tr>
                                        <tr><td>DOD:</td><td>{{ insured.DOD|date:"m/d/Y"}}</td></tr>
                                    </table>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                
                    <div class="sixcol last">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Insured Details</h4>
                                </div>
                                
                                <div class="content">
                                    <table>
                                        <thead>
                                        <tr><td>Last Contact Date:</td><td>{{ insured.LastContact|date:"m/d/Y" }}</td></tr>
                                        <tr><td>Next Contact Date:</td><td>{{ insured.NextContact|date:"m/d/Y" }}</td></tr>
                                        <!--<tr><td>HIPAA Status:</td><td>{{ insured.InsuredID_Primary.DOD }}</td></tr>-->
                                        <tr><td>Marital Status:</td><td>{{ insured.MaritalStatus }}</td></tr>
                                        <tr><td>Spouse Name:</td><td>{{ insured.SpouseName }}</td></tr>
                                        <tr><td>Confirmed Alive by SSN:</td><td>{{ insured.ConfirmedAlivebySSN|date:"m/d/Y" }}</td></tr>
                                        <tr><td>Funder Insured ID:</td><td>{{ insured.FunderInsuredID }}</td></tr>
                                        <tr><td>State of Residence:</td><td>{{ insured.InsuredState|default_if_none:""}}</td></tr>
                                    </table>
                                </div>
                                
                            </div>
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Policies</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="policies_table"> 
                            <thead> 
                                <tr> 
                                    <th>SubFund</th> 
                                    <th>Policy #</th> 
                                    <th>Funder Policy ID</th> 
                                    <th>Purch Face</th> 
                                    <th>Insurance Company</th> 
                                    <th>Policy Status</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in policies %}
                                <tr> 
                                    <td style="vertical-align: top;">{{ p.SubFundShortName }}</td> 
                                    <td style="vertical-align: top;"><a href="{% url policy_detail p.PolicyID%}">{{ p.PolicyNumber }}</a></td> 
                                    <td style="vertical-align: top;"><a href="{% url policy_detail p.PolicyID%}">{{ p.FunderPolicyID }}</a></td> 
                                    <td style="vertical-align: top;">${{ p.CurrentNDB|intcomma }}</td> 
                                    <td style="vertical-align: top;">{{ p.InsuranceCompanyName }}</td> 
                                    <td style="vertical-align: top;">{{ p.PolicyStatus }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Life Expectancy Reports</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="life_expectancy_reports_table"> 
                            <thead> 
                                <tr> 
                                    <th>Report Date</th> 
                                    <th>Provider</th> 
                                    <th>50% Months</th> 
                                    <th>85% Months</th> 
                                    <th>LE Mean</th> 
                                    <th>LE Mortality</th> 
                                    <th>Primary Diagnosis</th>
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for l in life_expectancies %}
                                <tr style="cursor: pointer;" rel="{{ l.LifeExpectancyID }}" class="life_expectancy_overlay"> 
                                    <td style="vertical-align: top;">{{ l.ReportDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ l.Provider }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMonths50 }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMonths85 }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMean|default_if_none:'' }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMortality }}</td> 
                                    {% ifnotequal l.PrimaryDiagnosis "" %}
                                        <td style="vertical-align: top;">{{ l.PrimaryDiagnosis }}</td> 
                                    {% else %}
                                        <td style="vertical-align: top;">&nbsp;</td> 
                                    {% endifnotequal %}
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Insured Events</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="insured_events_table"> 
                            <thead> 
                                <tr> 
                                    <th>Type</th> 
                                    <th>Description</th> 
                                    <th>Status</th>
                                    <th>Job Number</th> 
                                    <th>Req Date</th>
                                    <th>Rec Date</th>
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for e in insured_events %}
                                <tr style="cursor: pointer;" rel="{{ e.InsuredEventID }}" class="insured_events_overlay"> 
                                    <td style="vertical-align: top;">{{ e.EventType}}</td> 
                                    <td style="vertical-align: top;">{{ e.EventTypeDescription}}</td> 
                                    <td style="vertical-align: top;">{{ e.Status }}</td> 
                                    <td style="vertical-align: top;">{{ e.JobID  }}</td> 
                                    <td style="vertical-align: top;">{{ e.RequestDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ e.ReceivedDate|date:"m/d/Y" }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>

                                <!-- ## / Panel Content  -->
                        {% endblock %}
{% block extra_head %}
<!-- Charts -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="_layout/scripts/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <script type="text/javascript">
            $(document).ready(function() {
                $('#sample-table-sortablesafdsafd').dataTable({
                    //"sPaginationType": "full_numbers",
                    "sDom": 'R<"H"lfr>t<"F"ip<'
                });

    $("#insured_events_table").tablesorter();
    $("#life_expectancy_reports_table").tablesorter();
    $("#policies_table").tablesorter();
                $(function() {
        // a workaround for a flaw in the demo system (http://dev.jqueryui.com/ticket/4375), ignore!
                $("#sample-table-sortable").find("tr").bind("dblclick", function(){
                    $( "#dialog:ui-dialog" ).dialog( "destroy" );
                
                    $( "#dialog-modal" ).dialog({
                        height: 300,
                        width: 400,
                        modal: true,
                        buttons: {
                                        "Close": function() {
                                            $( this ).dialog( "destroy" );
                                        }
                                    },
                        close: function() {
                            $( this ).dialog( "destroy" );
                        }
                    });
                });

    });
            });
</script>
{% endblock %}
