{% extends "site_base.html" %}
{% load humanize %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tabletools.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.daterangepicker.min.js"></script>
<link rel='stylesheet' href='{{ STATIC_URL }}css/jquery.daterangepicker.css' type='text/css' media='screen' />
<script type="text/javascript">

         var oTable;
    $(document).ready(function() {
        $("#fund_multi_select").multiselect({
            selectedList: 4, // 0-based index
            noneSelectedText: 'Select Funds to Limit By',
            close: function(event, ui){
                $.post(
                    "/leap/leap_set_session/",
                    {'funds': $("#fund_multi_select").val()},
                    function(){
                        self.location.reload();
                        // Here we can do whatever is necessary
                    }

                );
            }

        });
        $.fn.getDataTablesHeaders = function(){
            headers = Array();
            selector = $(this).selector + ' thead th';
            $(selector).each(function(){
                headers.push($(this).html());
            });

            return headers;
        };

         oTable = $('#sample-table-sortable').dataTable({
            //"sPaginationType": "full_numbers",
            "sDom": 'RT<"H"lfr>t<"F"ip<',
            "bRetrieve": true,
            "iDisplayLength": 25,
            "aaSorting": [ [2, 'desc'] ],
            "oTableTools": {
                "sCsvBoundary": '"',
                "sSwfPath": "{{ STATIC_URL}}js/copy_csv_xls_pdf.swf",
                "aButtons": [
                                {
                                    "sExtends": "print",
                                    "sButtonText": "Print"
                                },
                                {
                                    "sExtends": "pdf",
                                    "sButtonText": "PDF"
                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Excel",
                                    "fnClick" : function(nButton, oConfig){
                                        $('<form action="{{ requst.META.uri }}" method="post"><form></form>').appendTo('body').submit().remove()
                                    }

                                }
                            ]
            }
            
        });
        /*$(".DTTT_container").append('<div style="float: right; color: #000;">Date Range:<input id="date_range" name="date_range" value="{{ date_string }}"/></div>');
        $("#date_range").daterangepicker({
            posX: $(window).width()/2,
            onClose: function(e){
                var date_range = $("#date_range").val();
                location.href="/leap/premium_list/pending/?date_range=" + date_range;

            }


        });*/
        if(insurance_company_distribution_data && insurance_company_distribution_data.length > 0){
            display_chart(insurance_company_distribution_data);
        }
        function display_chart(jsonData){
            $("#insurance_company_distribution_chart").wijpiechart({
                            radius: 140,
                            legend: { visible: false, compass: 'south', orientation: 'horizontal' },
                            dataSource: jsonData,
                            showChartLabels: false,
                            data: {
                                label: { bind: 'label'},
                                value: { bind: 'data'}
                                //offset: { bind: 'Offset'},

                            },
                            click: function(e, data){

                                //console.log(e);
                                //console.log(data.label);
                            },
                            hint: {
                                Default :{
                                    height: 140

                                },
                                content: function () {
                                    //return this.data.label + " Total: $110,000. 25% of total";
                                    return this.data.label;
                                    //return this.data.label + "<p>Total DB: $1,000,000<br />Total DB: $1,000,000</p>";
                                    }
                            },
                            /*header: {
                                text: "Distribution by Insurance CO"
                            },*/
                            seriesStyles: generated_series_styles
            });
        }
    });
    {% if insurance_company_distribution_data_json %}
        var insurance_company_distribution_data = {{ insurance_company_distribution_data_json|safe }};
    {% else %}
        var insurance_company_distribution_data = [];
    {% endif %}
    var generated_series_styles = {{ generated_series_styles|safe}}
</script>

{% endblock %}
{% block content %}
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>{{ page_title }}</h4>
                            <div><div style='' id="demo"></div></div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                            <div id="insurance_company_distribution_chart"></div>
                        <!-- ## Panel Content  -->
                        
                        <table id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    {% for column in columns %}
                                    <th>{{ column }}</th> 
                                    {% endfor %}
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for l in list %}
                                <tr style='cursor:pointer;' class='insurance_company_overlay' rel="{{ l.InsCoID|urlencode }}"> 
                                    <td>{{ l.label_name_only }} </td>
                                    <td>{{ l.policy_count }} </td>
                                    <td>{{ l.percent }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        
                        <!-- ## Panel Content  -->
                        
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
{% endblock %}
