{% extends "site_base.html" %}
{% load humanize %}
{% block content %}
<script type="text/javascript">
    var graph_data = {{ graph_data|safe }};
</script>
                
                <div class="fixed">
                    <div class="sixcol">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Job Detail</h4>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <table>
                                        <tr><td>Job Number:</td><td>{{ job.JobNumber }}</td></tr>
                                        <tr><td>Status:</td><td>{{ job.JobStatus }}</td></tr>
                                        <tr><td>Description:</td><td>{{ job.memo }}</td></tr>
                                        <tr><td>Request Recd Date:</td><td>{{ job.JobRequestReceived|default_if_none:""|date:"n/d/Y" }}</td></tr>
                                        <tr><td>Start Date:</td><td>{{ job.JobStartDate|default_if_none:""|date:"n/d/Y" }}</td></tr>
                                        <tr><td>Target Completion Date:</td><td>{{  job.TargetCompleteDate|default_if_none:""|date:"n/d/Y" }}</td></tr>
                                        <tr><td>Complete Date:</td><td>{{  job.JobComplete|default_if_none:""|date:"n/d/Y" }}</td></tr>
                                        <tr><td>Requested By:</td><td>{{ job.JobRequestedBy|default_if_none:"" }}</td></tr>
                                        <tr><td>Contacts:</td><td>{{ job.Contacts }}</td></tr>
                                    </table>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                
                    <div class="sixcol last">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Job Completion Percentage</h4>
                                </div>
                    <div class="content">
                                    <div id="completed_graph" name="completed_graph" class="graph"></div>
                                </div>
                                
                            </div>
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Insured Events</h4>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="insured_events_table"> 
                            <thead> 
                                <tr> 
                                    <!--<th>Insured Name</th> -->
                                    <th>Insured</th> 
                                    <th>Type</th> 
                                    <th>Description</th> 
                                    <th>Status</th> 
                                    <th>Request Date</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for i in insured_events %}
                                <tr style="cursor: pointer;" rel="{{ i.InsuredEventID }}" class="insured_events_overlay"> 
                                    <td style="vertical-align: top;"><a href="{% url insured_detail i.InsuredID%}">{{ i.Insured }}</a></td> 
                                    <td style="vertical-align: top;">{{ i.EventType }}</td> 
                                    <td style="vertical-align: top;">{{ i.EventTypeDescription|default_if_none:"" }}</td> 
                                    <td style="vertical-align: top;">{{ i.Status }}</td> 
                                    <td style="vertical-align: top;">{{ i.RequestDate|date:"m/d/Y" }}</td>
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Policy Events</h4>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="policy_events_table"> 
                            <thead> 
                                <tr> 
                                    <th>Policy Number</th> 
                                    <th>Type</th> 
                                    <th>Funder Policy ID</th> 
                                    <th>Status</th>
                                    <th>Start Date</th>
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in policy_events %}
                                <tr style="cursor: pointer;" rel="{{ p.PolicyEventID }}" class="policy_event_overlay"> 
                                    <td style="vertical-align: top;"><a href="{% url policy_detail p.PolicyID %}">{{ p.PolicyNumber }}</a></td> 
                                    <td style="vertical-align: top;">{{ p.EventType }}</td> 
                                    <td style="vertical-align: top;">{{ p.FunderPolicyID }}</td> 
                                    <td style="vertical-align: top;">{{ p.Status }}</td> 
                                    <td style="vertical-align: top;">{{ p.StartDate|date:"m/d/Y" }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>

{% endblock %}
{% block extra_head %}
<!-- Charts -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="_layout/scripts/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <script type="text/javascript">
            $(document).ready(function() {
                $("#policy_events_table").tablesorter();
                $("#insured_events_table").tablesorter();
                $('#sample-table-sortablesafdsafd').dataTable({
                    //"sPaginationType": "full_numbers",
                    "sDom": 'R<"H"lfr>t<"F"ip<'
                });
                $("#completed_graph").wijpiechart({
                    radius: 140,
                    legend: { visible: true, compass: 'east', orientation: 'vertical' },
                    dataSource: graph_data,
                    showChartLabels: true,
                    data: {
                        label: { bind: 'label'},
                        value: { bind: 'data'}

                    },
                    seriesStyles: [
                        {fill: "#FFD700", stroke: "#FFD700"},
                        {fill: "#0099CC", stroke: "#0099CC"},
                    ],

                    /*click: function(e, data){

                        console.log(e);
                        console.log(data.label);
                    },*/
                    hint: {
                        Default :{
                            height: 140

                        },
                        content: function () {
                            //console.log(this.data);
                            //return this.data.label + " Total: $110,000. 25% of total";
                            //return this.data.label + " " + ((this.data.y/this.data.total) * 100).toFixed(2) + "%";
                            if(this.data.label == 'Incomplete'){
                                return 'Pending & In Progress - ' + this.data.y + " - " + ((this.data.y/this.data.total) * 100).toFixed(2) + "%";
                            } else {
                                return 'Complete - ' + this.data.y + " - " + ((this.data.y/this.data.total) * 100).toFixed(2) + "%";

                            }

                
                            return this.data.label + " " + ((this.data.y/this.data.total) * 100).toFixed(2) + "%";
                            }
                    }
                });
            });
</script>
{% endblock %}
