{% extends "site_base.html" %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tabletools.min.js"></script>
<script type="text/javascript">

         var oTable;
    $(document).ready(function() {
        $("#fund_multi_select").multiselect({
            selectedList: 4, // 0-based index
            noneSelectedText: 'Select Funds to Limit By',
            close: function(event, ui){
                $.post(
                    "/leap/leap_set_session/",
                    {'funds': $("#fund_multi_select").val()},
                    function(){
                        self.location.reload();
                        // Here we can do whatever is necessary
                    }

                );
            }

        });
        $.fn.getDataTablesHeaders = function(){
            headers = Array();
            selector = $(this).selector + ' thead th';
            $(selector).each(function(){
                headers.push($(this).html());
            });

            return headers;
        };

         oTable = $('#life_expectancy_reports_table').dataTable({
            //"sPaginationType": "full_numbers",
            "sDom": 'RT<"H"lfr>t<"F"ip<',
            "bRetrieve": true,
            "iDisplayLength": 25,
            "oTableTools": {
                "sCsvBoundary": '"',
                "sSwfPath": "{{ STATIC_URL}}js/copy_csv_xls_pdf.swf",
                "aButtons": [
                                {
                                    "sExtends": "print",
                                    "sButtonText": "Print"
                                },
                                {
                                    "sExtends": "pdf",
                                    "sButtonText": "PDF"
                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Excel",
                                    "fnClick" : function(nButton, oConfig){
                                        $('<form action="{{ requst.META.uri }}" method="post"><form></form>').appendTo('body').submit().remove()
                                    }

                                }
                            ]
            }
            
        });
        oTable.fnSort( [ [3,'desc'] ] );

    });
</script>

{% endblock %}
{% block content %}
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>{{ page_title }}</h4>
                            <div><div style='' id="demo"></div></div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="life_expectancy_reports_table"> 
                            <thead> 
                                <tr> 
                                    <th>Funder Insured ID</th> 
                                    <th>Insured Name</th>
                                    <th>Report Date</th> 
                                    <th>Provider</th> 
                                    <th>50% Months</th> 
                                    <th>85% Months</th> 
                                    <th>LE Mean</th> 
                                    <th>LE Mortality</th> 
                                    <th>Primary Diagnosis</th>
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for l in list %}
                                <tr style="cursor: pointer;" rel="{{ l.LifeExpectancyID }}" class="life_expectancy_overlay"> 
                                    <td style="vertical-align: top;">{{ l.FunderInsuredID|default_if_none:"" }}</td> 
                                    <td style="vertical-align: top;"><a href="{% url insured_detail l.InsuredID %}">{{ l.FullNameLastFirst }}</a></td> 
                                    <td style="vertical-align: top;">{{ l.ReportDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ l.Provider }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMonths50 }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMonths85 }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMean|default_if_none:'' }}</td> 
                                    <td style="vertical-align: top;">{{ l.LEMortality }}</td> 
                                    {% ifnotequal l.PrimaryDiagnosis "" %}
                                        <td style="vertical-align: top;">{{ l.PrimaryDiagnosis }}</td> 
                                    {% else %}
                                        <td style="vertical-align: top;">&nbsp;</td> 
                                    {% endifnotequal %}
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
        
                        <!-- ## Panel Content  -->
                        
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
{% endblock %}
