{% extends "site_base.html" %}
{% load humanize %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tabletools.min.js"></script>
<script type="text/javascript">

         var oTable;
    $(document).ready(function() {
        $("#fund_multi_select").multiselect({
            selectedList: 4, // 0-based index
            noneSelectedText: 'Select Funds to Limit By',
            close: function(event, ui){
                $.post(
                    "/leap/leap_set_session/",
                    {'funds': $("#fund_multi_select").val()},
                    function(){
                        self.location.reload();
                        // Here we can do whatever is necessary
                    }

                );
            }

        });
        $.fn.getDataTablesHeaders = function(){
            headers = Array();
            selector = $(this).selector + ' thead th';
            $(selector).each(function(){
                headers.push($(this).html());
            });

            return headers;
        };

         oTable = $('#sample-table-sortable').dataTable({
            //"sPaginationType": "full_numbers",
            "sDom": 'RT<"H"lfr>t<"F"ip<',
            "bRetrieve": true,
            "aoColumns": [
                null,
                null,
                null,
                { "sType": "currency" },
                { "sType": "currency" },
                { "sType": "currency" },
                null,
                null,
                null,
                null
            ],
            "oTableTools": {
                "sCsvBoundary": '"',
                "sSwfPath": "{{ STATIC_URL}}js/copy_csv_xls_pdf.swf",
                "aButtons": [
                                {
                                    "sExtends": "print",
                                    "sButtonText": "Print"
                                },
                                {
                                    "sExtends": "pdf",
                                    "sButtonText": "PDF"
                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Excel",
                                    "fnClick" : function(nButton, oConfig){
                                        $('<form action="{{ requst.META.uri }}" method="post"><form></form>').appendTo('body').submit().remove()
                                    }

                                }
                            ]
            }
            
        });
        oTable.fnSort( [ [0, 'asc'] ] );

        //$('#sample-table-sortable tbody tr').live('dblclick', function () {
        //    var aData = oTable.fnGetData( this );
        //    var policy_id = aData[0];
        //    show_overlay('/leap/maturity_claim_table/', policy_id, 'Maturity Claim Details');
        //});
    });
</script>
<style type="text/css">
    tbody tr {
        cursor: pointer;
    }
</style>
{% endblock %}
{% block content %}
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>{{ page_title }}</h4>
                            <div><div style='' id="demo"></div></div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    {% for column in columns %}
                                    <th>{{ column }}</th> 
                                    {% endfor %}
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for l in list %}
                                <tr> 
                                    <td>{{ l.PolicyNumber }}</td>
                                    <td><a href="{% url policy_detail l.PolicyID %}">{{ l.FunderPolicyID.strip }}</a></td>
                                    <td>{{ l.PolicyStatus }}</td>
                                    <td>${{ l.CurrentNDB|default_if_none:""|intcomma }}</td>
                                    {% if l.AV %}
                                        <td>${{ l.AV|intcomma }}</td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                    {% if l.CSV %}
                                        <td>${{ l.CSV|intcomma }}</td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                    <td>{{ l.DateOfAVCSV|default_if_none:""|date:"m/d/Y" }}</td>
                                    {% if l.LastCOIDeduction %}
                                        <td>${{ l.LastCOIDeduction|intcomma }}</td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                    {% if l.LoanAmount %}
                                        <td>${{ l.LoanAmount|intcomma }}</td>
                                    {% else %}
                                        <td>&nbsp;</td>
                                    {% endif %}
                                    <td>{{ l.LoanAmountDate|default_if_none:""|date:"m/d/Y" }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        
                        <!-- ## Panel Content  -->
                        
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
{% endblock %}
