{% extends "site_base.html" %}
{% load humanize %}
{% block extra_head %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tabletools.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.daterangepicker.min.js"></script>
<link rel='stylesheet' href='{{ STATIC_URL }}css/jquery.daterangepicker.css' type='text/css' media='screen' />
<script type="text/javascript">

         var oTable;
    $(document).ready(function() {
        $("#fund_multi_select").multiselect({
            selectedList: 4, // 0-based index
            noneSelectedText: 'Select Funds to Limit By',
            close: function(event, ui){
                $.post(
                    "/leap/leap_set_session/",
                    {'funds': $("#fund_multi_select").val()},
                    function(){
                        self.location.reload();
                        // Here we can do whatever is necessary
                    }

                );
            }

        });
        $.fn.getDataTablesHeaders = function(){
            headers = Array();
            selector = $(this).selector + ' thead th';
            $(selector).each(function(){
                headers.push($(this).html());
            });

            return headers;
        };

         oTable = $('#sample-table-sortable').dataTable({
            //"sPaginationType": "full_numbers",
            "sDom": 'RT<"H"lfr>t<"F"ip<',
            "bRetrieve": true,
            "iDisplayLength": 25,
            "aoColumns": [
                null,
                null,
                { "sType": "currency" },
                { "sType": "currency" },
                { "sType": "currency" }
            ],
            "oTableTools": {
                "sCsvBoundary": '"',
                "sSwfPath": "{{ STATIC_URL}}js/copy_csv_xls_pdf.swf",
                "aButtons": [
                                {
                                    "sExtends": "print",
                                    "sButtonText": "Print"
                                },
                                {
                                    "sExtends": "pdf",
                                    "sButtonText": "PDF"
                                },
                                {
                                    'sExtends': 'text',
                                    "sButtonText": "Excel",
                                    "fnClick" : function(nButton, oConfig){
                                        $('<form action="{{ requst.META.uri }}" method="post"><form></form>').appendTo('body').submit().remove()
                                    }

                                }
                            ]
            }
            
        });
        $(".DTTT_container").append('<div style="float: right; color: #000;">Date Range:<input id="date_range" name="date_range" value="{{ date_string }}"/></div>');
        $("#date_range").daterangepicker({
            posX: $(window).width()/2,
            onClose: function(e){
                var date_range = $("#date_range").val();
                location.href="/leap/premium_list/pending/?date_range=" + date_range;

            }


        });
        {% if premiums_chart_data %}
            var premiums_chart_data = {{ premiums_chart_data|safe }};
        {% else %}
            var premiums_chart_data = [];
        {% endif %}
        if(premiums_chart_data.premiums.length > 0){
            display_premiums_chart(premiums_chart_data);
        }
    });

    function display_premiums_chart(jsonData){
        $("#premiums_chart").wijbarchart({
            stacked: false,
            dataSource: jsonData,
            seriesList: [{
                dataSource: jsonData.premiums,
                label: "Premiums",
                legendEntry: true,
                data: { x: { bind: "date" }, y: { bind: "value"} }
            }],
                        horizontal: false,
                        seriesStyles: [
                            {fill: "#33D633", stroke:"none"}
                        ],
                        axis: {
                            y: {
                                annoFormatString: 'c0',
                                alignment: "right",
                                textAlign: "right",
                                autoMax: true,
                                autoMin: false
                            },
                            x: {
                                text: "",
                                align: "right"
                            }
                        },
                        hint: {
                            content: function () {
                                return formatCurrency(this.data.y).replace('.00','');
                            }
                        },
                        header: {
                            text: ""
                        },
                        chartLabelFormatString: "c0",
                        showChartLabels: false,
                        legend: {
                            visible: false,
                            text:"Total",
                            compass:"east",
                            orientation:"vertical",
                            style:{
                                fill:"#f1f1f1",
                                stroke:"#010101"
                            }
                        },
                        click: function(e, data){
                            month = data.x;
                            self.location = "/leap/premium_list/pending/?date_range=" + month;

                        }
        });
    }
</script>

{% endblock %}
{% block content %}
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>{{ page_title }}</h4>
                            <div><div style='' id="demo"></div></div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                            <div id="premiums_chart"></div>
                        <!-- ## Panel Content  -->
                        
                        <table id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    {% for column in columns %}
                                    <th>{{ column }}</th> 
                                    {% endfor %}
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for l in list %}
                                <tr> 
                                    <td>{{ l.DueDate|date:"n/d/Y" }} </td>
                                    <td><a href="{% url policy_detail l.PolicyID %}">{{ l.FunderPolicyID }}</a></td>
                                    <td>${{ l.PremiumDue|intcomma }} </td>
                                    {% if l.LoanAmtDue %}
                                        <td>${{ l.LoanAmtDue|intcomma }} </td>
                                    {% else %}
                                        <td>$0.00</td>
                                    {% endif %}
                                    <td>${{ l.TotalDue|intcomma }} </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
        
                        <!-- ## Panel Content  -->
                        
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
{% endblock %}
