{% extends "site_base.html" %}
{% load humanize %}
{% block content %}
                
                
                
                <div class="fixed">
                    <div class="sixcol">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Policy Details</h4>
                                    <div class="link"><a target="_blank" href="{% url document_viewer 'policy' policy.PolicyNumber %}">Policy Documents</a></div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <table>
                                        <tr><td>Sub Fund:</td><td>{{ policy.SubFundName }}</td></tr>
                                        <tr><td>Policy Number:</td><td>{{ policy.PolicyNumber }}</td></tr>
                                        <tr><td>Funder Policy ID:</td><td>{{ policy.FunderPolicyID }}</td></tr>
                                        {# <tr><td>Insured Name:</td><td><a href="{% url insured_detail policy.Insured.InsuredID %}">{{ policy.FullNameLastFirst }}</a></td></tr>#}
                                        <tr><td>Current GDB:</td><td>${{ policy.PurchasedDB|intcomma }}</td></tr>
                                        <tr><td>Current NDB:</td><td>${{ policy.CurrentNDB|intcomma }}</td></tr>
                                        <tr><td>Insurance Company:</td><td>{{ policy.InsuranceCompanyName }}</td></tr>
                                        <tr><td>Product Name:</td><td>{{ policy.ProductName}}</td></tr>
                                        <tr><td>Policy Date:</td><td>{{ policy.PolicyDate|date:"m/d/Y"}}</td></tr>
                                        <tr><td>Policy Status:</td><td>{{ policy.PolicyStatus}}</td></tr>
                                        <tr><td>Policy Type:</td><td>{{ policy.PolicyType}}</td></tr>
                                        <tr><td>Benefit Type:</td><td>{{ policy.BenefitType}}</td></tr>
                                        <tr><td>Policy State:</td><td>{{ policy.PolicyState}}</td></tr>
                                    </table>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                
                    <div class="sixcol last">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Insured Details</h4>
                                </div>
                                
                                <div class="content">
                                    <table>
                                        <thead>
                                            <!--<tr><td>&nbsp;</td><td>Insured 1</td><td>Insured 2</td></tr>-->
                                            <tr><td>Name:</td><td><a href="{% url insured_detail policy.Insured.InsuredID %}">{{ policy.Insured.FullNameLastFirst|default_if_none:"" }}</a></td>
                                                {% if policy.InsuredSecondary %}<td><a href="{% url insured_detail policy.InsuredSecondary.InsuredID %}">{{ policy.InsuredSecondary.FullNameLastFirst|default_if_none:"" }}</a></td>{% endif %}
                                            </tr>
                                            <tr><td>DOB:</td><td>{{ policy.Insured.DOB|date:"m/d/Y"|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.DOB|date:"m/d/Y"|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>DOD:</td><td>{{ policy.Insured.DOD|date:"m/d/Y"|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.DOD|date:"m/d/Y"|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Spouse Name:</td><td>{{ policy.Insured.SpouseName|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.SpouseName|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Gender:</td><td>{{ policy.Insured.Gender|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.Gender|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Marital Status:</td><td>{{ policy.Insured.MaritalStatus|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.MaritalStatus|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Funder Insured ID:</td><td>{{ policy.Insured.FunderInsuredID|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.FunderInsuredID|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Confirmed Alive by SSN:</td><td>{{ policy.Insured.ConfirmedAlivebySSN|date:"m/d/Y"|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.ConfirmedAlivebySSN|date:"m/d/Y"|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Last Contact:</td><td>{{ policy.Insured.LastContact|date:"m/d/Y"|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.LastContact|date:"m/d/Y"|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Next Contact:</td><td>{{ policy.Insured.NextContact|date:"m/d/Y"|default_if_none:"" }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.Insuredsecondary.NextContact|date:"m/d/Y"|default_if_none:"" }}</td>{% endif %}
                                            </tr>
                                            <tr><td>State of Residence:</td><td>{{ policy.Insured.InsuredState }}</td>
                                                {% if policy.InsuredSecondary %}<td>{{ policy.InsuredSecondary.InsuredState }}</td>{% endif %}
                                            </tr>
                                            <tr><td>Insured Documents:</td><td><a target="_blank" href="{% url document_viewer 'insured' policy.Insured.InsuredID %}">View</a></td>
                                                {% if policy.InsuredSecondary %}<td><a target="_blank" href="{% url document_viewer 'insured' insured.InsuredID %}">View</a></td>{% endif %}
                                            </tr>
                                    </table>
                                </div>
                                
                            </div>
                            <div class="shadow"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Policy Events</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="policy_events_table"> 
                            <thead> 
                                <tr> 
                                    <th>Event Type</th> 
                                    <th>Status</th> 
                                    <th>Start Date</th> 
                                    <th>Complete Date</th> 
                                    <th>Job Number</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in policy_events %}
                                <tr> 
                                    <td style="vertical-align: top;">{{ p.EventType|default_if_none:"" }}</td> 
                                    <td style="vertical-align: top;">{{ p.Status|default_if_none:"" }}</td> 
                                    <td style="vertical-align: top;">{{ p.StartDate|default_if_none:""|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ p.CompleteDate|default_if_none:""|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ p.JobNumber|default_if_none:"" }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Premium History</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table id="premium_history_table"> 
                            <thead> 
                                <tr> 
                                    <th>Due Date</th> 
                                    <th>Amount Due</th> 
                                    <th>Payee Name</th> 
                                    <th>Payment Applied Date</th> 
                                    <th>Prem Conf Method</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in premium_history %}
                                <tr style="cursor: pointer;" rel="{{ p.PremiumID }}" class="premium_overlay"> 
                                    <td style="vertical-align: top;">{{ p.DueDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">${{ p.PremiumDue|intcomma }}</td> 
                                    <td style="vertical-align: top;">{{ p.Payee }}</td> 
                                    <td style="vertical-align: top;">{{ p.PremiumReceivedDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ p.PremConfMethod }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Premiums Scheduled</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table id="premiums_scheduled_table"> 
                            <thead> 
                                <tr> 
                                    <th>Due Date</th> 
                                    <th>Premium Due</th> 
                                    <th>Loan Amt Due</th> 
                                    <th>Total Due</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for p in premiums_scheduled %}
                                <tr> 
                                    <td style="vertical-align: top;">{{ p.DueDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">${{ p.PremiumDue|intcomma }}</td> 
                                    <td style="vertical-align: top;">${{ p.LoanAmtDue|intcomma }}</td> 
                                    <td style="vertical-align: top;">${{ p.TotalDue|intcomma }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Grace Events</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table class="sortable" id="grace_events_table"> 
                            <thead> 
                                <tr> 
                                    <th>Notice Date</th> 
                                    <th>Lapse Date</th> 
                                    <th>Grace Status</th> 
                                    <th>Date Entered Grace</th> 
                                    <th>Total Amount Due</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for g in grace_events %}
                                <tr style="cursor: pointer;" rel="{{ g.GraceEventID }}" class="grace_event_overlay"> 
                                    <td style="vertical-align: top;">{{ g.NoticeDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.LapseDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.GraceStatus }}</td> 
                                    <td style="vertical-align: top;">{{ g.DateEnteredGrace|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">${{ g.TotalAmountDue|intcomma }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Maturity Claim</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <table  id="maturity_claims_table"> 
                            <thead> 
                                <tr> 
                                    <th>Status</th> 
                                    <th>Net Death Benefit</th> 
                                    <th>Ins Co</th> 
                                    <th>DOD</th> 
                                    <th>Date Notified</th> 
                                    <th>Death Cert Rec'd</th> 
                                    <th>Claim Filed</th> 
                                    <th>Payment Recd</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                {% for g in maturity_claims %}
                                <tr style="cursor: pointer;" rel="{{ g.PolicyID }}" class="maturity_claim_overlay"> 
                                    <td style="vertical-align: top;">{{ g.DCStatus }}</td> 
                                    <td style="vertical-align: top;">${{ g.CurrentNDB|intcomma }}</td> 
                                    <td style="vertical-align: top;">{{ g.InsuranceCompanyName }}</td> 
                                    <td style="vertical-align: top;">{{ g.DOD|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.DateNotifiedDeath|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.DeathCertCompleteDate|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.DateDBClaimFiled|date:"m/d/Y" }}</td> 
                                    <td style="vertical-align: top;">{{ g.PaymentRecd|date:"m/d/Y" }}</td> 
                                </tr> 
                                {% endfor %}
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
<div id="dialog-modal" style="display: none;" title="Expanded information dialog here">
                        <table id=""> 
                            <thead>
                                <tr>
                                    <th colspan="2">Insured Information</th>
                                </tr>
                            </thead>

        
                            <tbody> 
                                <tr> 
                                    <tr><td style="width: 100px;">Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Full Name</td><td>John Smith</td></tr>
                                    <tr><td>Notes</td><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vestibulum laoreet mattis. Pellentesque ullamcorper sem sed massa rhoncus laoreet euismod nulla ornare. Praesent sollicitudin sollicitudin mauris sit amet hendrerit. Aliquam et turpis non turpis eleifend tempus. Curabitur auctor fringilla lorem non sodales.</td></tr>
                                </tr> 
                            </tbody> 
                        </table> 
</div>

                                <!-- ## / Panel Content  -->
                        {% endblock %}
{% block extra_head %}
<!-- Charts -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="_layout/scripts/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <script type="text/javascript" src="{{ STATIC_URL }}js/tabletools.min.js"></script>
        <script type="text/javascript">
         var oTable;
         var oTable2;
            $(document).ready(function() {
                $("#policy_events_table").tablesorter();
                $("#grace_events_table").tablesorter();
                /*
                    Need to update the premium_history_table
                    to support pagination per revisions 2 list
                */
                //$("#premium_history_table").tablesorter();
                //$("#premiums_scheduled_table").tablesorter();
                $("#maturity_claims_table").tablesorter();
                $("#grace_events_table").tablesorter();
                $.fn.getDataTablesHeaders = function(){
                    headers = Array();
                    selector = $(this).selector + ' thead th';
                    $(selector).each(function(){
                        headers.push($(this).html());
                    });

                    return headers;
                };
                oTable2 = $('#premium_history_table').dataTable({
                    //"sPaginationType": "full_numbers",
                    "sDom": 'R<"H"lfr>t<"F"ip<',
                    "bRetrieve": true,
                    "aoColumns": [
                        null,
                        { "sType": "currency" },
                        null,
                        null,
                        null
                    ]
                    });
                oTable = $('#premiums_scheduled_table').dataTable({
                    //"sPaginationType": "full_numbers",
                    "sDom": 'R<"H"lfr>t<"F"ip<',
                    "bRetrieve": true,
                    "aoColumns": [
                        { "sType": "date" },
                        { "sType": "currency" },
                        { "sType": "currency" },
                        { "sType": "currency" }
                    ]/*,
                    "oTableTools": {
                        "sCsvBoundary": '"',
                        "sSwfPath": "{{ STATIC_URL}}js/copy_csv_xls_pdf.swf",
                        "aButtons": [
                                        {
                                            "sExtends": "print",
                                            "sButtonText": "Print"
                                        },
                                        {
                                            "sExtends": "pdf",
                                            "sButtonText": "PDF"
                                        },
                                        {
                                            'sExtends': 'text',
                                            "sButtonText": "Excel",
                                            "fnClick" : function(nButton, oConfig){
                                                $('<form action="{{ requst.META.uri }}" method="post"><form></form>').appendTo('body').submit().remove()
                                            }

                                        }
                                    ]
                    }*/
                    
                });
            oTable2.fnSort( [ [0,'desc'] ] );
            });
</script>
{% endblock %}
