{% extends "site_base.html" %}
{% block content %}
<div class="panel-wrapper panel-chart-dashboard fixed">
                    <div class="panel ">
                    
                        <div class="title">
                            <h4>Panel - Charts</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div class="content">
                        <!-- ## Panel Content  -->
                        
                        <div id="raphael-graph-years" class="graph"></div>
                        
                        <div class="chart-dashboard">
                            <ul class="chart-dashboard-items">
                                <li>
                                    <div>
                                        <h3>10000</h3>
                                        <span>PAGE VIEWS</span>
                                        <span class="positive">+55%</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                    <h3>4249</h3>
                                        <span>UNIQUE VISITORS</span>
                                        <span class="negative">-12%</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h3>43</h3>
                                        <span>SUPPORT REQUESTS</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>

                
                
                <div class="panel-wrapper fixed">
                    <div class="panel ">
                    
                        <div class="title">
                            <h4>Panel - Charts</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div class="content">
                        <!-- ## Panel Content  -->
                        

                        <div id="flot-pie-square" class="graph"></div>
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                
                
                
                <div class="fixed">
                    <div class="sixcol">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Panel - Charts</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="flot-donut" class="graph"></div>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                
                    <div class="sixcol last">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Panel - Clickable Charts</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <div id="flot-pie-normal" class="graph"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fixed">
                    <div class="fourcol first">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Panel - Charts</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="flot-donut" class="graph"></div>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                    <div class="fourcol">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Panel - Charts</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <!-- ## Panel Content  -->
                                    
                                    <div id="flot-donut" class="graph"></div>
                                    
                                    <!-- ## / Panel Content  -->
                                </div>
                            </div>
                            
                            <div class="shadow"></div>
                        </div>
                    
                    </div>
                
                    <div class="fourcol last">
                    
                        <div class="panel-wrapper fixed">
                            <div class="panel ">
                            
                                <div class="title">
                                    <h4>Panel - Charts</h4>
                                    <div class="collapse">collapse</div>
                                </div>
                                
                                <div class="content">
                                    <div id="flot-pie-normal" class="graph"></div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                                <!-- ## / Panel Content  -->
                        {% endblock %}
{% block extra_head %}
<!-- Charts -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="_layout/scripts/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.raphael/raphael-min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.morris/morris.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.pie.js'></script>
{% endblock %}
