{% extends "site_base.html" %}
{% block extra_head %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#sample-table-sortable').dataTable({
            //"sPaginationType": "full_numbers",
            "sDom": 'R<"H"lfr>t<"F"ip<'
        });
    });
</script>

{% endblock %}
{% block content %}
                <div class="panel-wrapper panel-chart-dashboard fixed">
                    <div class="panel ">
                    
                        <div class="title">
                            <h4>Panel - Charts</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div class="content">
                        <!-- ## Panel Content  -->
                        
                        <div id="raphael-graph-years" class="graph"></div>
                        
                        <div class="chart-dashboard">
                            <ul class="chart-dashboard-items">
                                <li>
                                    <div>
                                        <h3>9523</h3>
                                        <span>PAGE VIEWS</span>
                                        <span class="positive">+55%</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                    <h3>4249</h3>
                                        <span>UNIQUE VISITORS</span>
                                        <span class="negative">-12%</span>
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <h3>43</h3>
                                        <span>SUPPORT REQUESTS</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>

                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Panel - Gallery</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div class="content">
                        <!-- ## Panel Content  -->
                        
                        
                            <ul class="content-gallery fixed">
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-1.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-1.jpg" alt="" />
                                </li>
                                
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-2.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-2.jpg" alt="" />
                                </li>
                                
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-3.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-3.jpg" alt="" />
                                </li>
                                
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-4.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-4.jpg" alt="" />
                                </li>
                                
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-5.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-5.jpg" alt="" />
                                </li>
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-6.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-6.jpg" alt="" />
                                </li>
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-7.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-7.jpg" alt="" />
                                </li>
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-8.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-8.jpg" alt="" />
                                </li>
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-9.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-9.jpg" alt="" />
                                </li>
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-10.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-10.jpg" alt="" />
                                </li>
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-11.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-11.jpg" alt="" />
                                </li>
                                <li>
                                    <div><a href="{{ STATIC_URL }}images/panel-gallery/gallery-item-large-12.jpg" rel="gallery"></a></div>
                                    <img src="{{ STATIC_URL }}images/panel-gallery/gallery-item-small-12.jpg" alt="" />
                                </li>
                            </ul>
                                
                                
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                
                
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="title">
                            <h4>Panel - Tables</h4>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div style="overflow-x: visible;" class="content">
                        <!-- ## Panel Content  -->
                        
                        <!--<table id="sample-table-sortable" <!--class="sortable resizable"> -->
                        <table id="sample-table-sortable"> 
                            <thead> 
                                <tr> 
                                    <th>Last Name</th> 
                                    <th>First Name</th> 
                                    <th>Email</th> 
                                    <th>Due</th> 
                                    <th>Web Site</th> 
                                    <th>Due</th> 
                                    <th>Web Site</th> 
                                    <th>Due</th> 
                                    <th>Web Site</th> 
                                    <th>Due</th> 
                                    <th>Web Site</th> 
                                </tr> 
                            </thead> 
                            <tbody> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Smith</td> 
                                    <td>John</td> 
                                    <td>jsmith@gmail.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Bach</td> 
                                    <td>Frank</td> 
                                    <td>fbach@yahoo.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.frank.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Doe</td> 
                                    <td>Jason</td> 
                                    <td>jdoe@hotmail.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Conway</td> 
                                    <td>Tim</td> 
                                    <td>tconway@earthlink.net</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.timconway.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Bach</td> 
                                    <td>Frank</td> 
                                    <td>fbach@yahoo.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.frank.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Doe</td> 
                                    <td>Jason</td> 
                                    <td>jdoe@hotmail.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                                <tr> 
                                    <td>Conway</td> 
                                    <td>Tim</td> 
                                    <td>tconway@earthlink.net</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.timconway.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                    <td>$50.00</td> 
                                    <td>http://www.jsmith.com</td> 
                                    <td>$100.00</td> 
                                    <td>http://www.jdoe.com</td> 
                                </tr> 
                            </tbody> 
                        </table> 
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                
                
                <div class="panel-wrapper">
                    <div class="panel">
                        <div class="tabs">
                            <ul>
                                <li class="active"><a href="#" rel="tab-01-content">Tab 01</a></li>
                                <li><a href="#" rel="tab-02-content">Tab 02</a></li>
                                <li class="last"><a href="#" rel="tab-03-content">Tab 03</a></li>
                            </ul>
                            <div class="collapse">collapse</div>
                        </div>
                        
                        <div class="tabs-content">
                        <!-- ## Panel Content  -->
                        
                            <div id="tab-01-content" class="active">
                                <p>Quisque sollicitudin, felis id venenatis consectetur, sem sem rutrum lectus, ut tristique metus augue ac justo. Suspendisse mauris lectus, scelerisque nec commodo in, aliquet a ligula. Praesent auctor lobortis adipiscing. Nulla  elit massa, ultrices in iaculis nec, elementum a magna. Pellentesque ut magna id nunc iaculis facilisis.</p>
                                <p>Pellentesque tincidunt est nec odio fringilla bibendum. Aenean in justo neque, non lobortis ante. Vestibulum vitae turpis ut erat pretium eleifend et vel lorem. Donec nibh mauris, fermentum a elementum at, pretium et velit. Curabitur auctor ante a justo consequat tristique. Nulla facilisi. Cras sem risus, dictum placerat ullamcorper id, tempus nec tortor. Aenean sollicitudin pulvinar enim, at condimentum mauris mollis vel.   </p>
                            </div>
                            
                            <div id="tab-02-content">
                                <p>Pellentesque tincidunt est nec odio fringilla bibendum. Aenean in justo neque, non lobortis ante. Vestibulum vitae turpis ut erat pretium eleifend et vel lorem. Donec nibh mauris, fermentum a elementum at, pretium et velit. Curabitur auctor ante a justo consequat tristique. Nulla facilisi. Cras sem risus, dictum placerat ullamcorper id, tempus nec tortor. Aenean sollicitudin pulvinar enim, at condimentum mauris mollis vel.   </p>
                            </div>
                        
                            <div id="tab-03-content">
                                <p>Felis id venenatis consectetur, sem sem rutrum lectus, ut tristique metus augue ac justo. Suspendisse mauris lectus, scelerisque nec commodo in, aliquet a ligula. Praesent auctor lobortis adipiscing. Nulla  elit massa, ultrices in iaculis nec, elementum a magna. Pellentesque ut magna id nunc iaculis facilisis.</p>
                            </div>
                        
                        <!-- ## / Panel Content  -->
                        </div>
                        {% endblock %}
