{% extends "site_base.html" %}
{% block top_nav %}{% endblock %}
{% block side_nav %}{% endblock %}
{% block body_class %}texture{% endblock %}
{% block content %}
    
    <div class="container">
        <div class="row">
                 
                <div class="panel-wrapper panel-login">
                    <div class="panel">
                        <div class="title">
                            <h4>User Login</h4>
                            <div class="option">Sign up for free &raquo;</div>
                        </div>
                        
                        <div class="content">
                        <!-- ## Panel Content  -->

                            <form method="post" action="{% url login %}" >
                                {% csrf_token %}
                                <div>
                                    <input type="text" name="username" value="" />
                                </div>
                                
                                <div>
                                    <input type="password" name="password" value="" />
                                </div>
                                 
                                <div>
                                    <a href="#" class="button-blue submit">Login</a> 
                                </div>
                            </form>
                        
                        <!-- ## / Panel Content  -->
                        </div>
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                
                <div class="login-details">
                    <p>Forgot your password? &nbsp;&nbsp;&nbsp;<a href="#">Click here</a></p>
                </div>
                
        </div>  
    </div>
                        {% endblock %}
{% block extra_head %}
<!-- Charts -->
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="_layout/scripts/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.raphael/raphael-min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.morris/morris.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.pie.js'></script>
{% endblock %}
