{% extends "theme_base.html" %}
{% block top_nav %}
    <div id="header-wrapper" class="container">
        <div id="user-account" class="row" >
            <div class="threecol"> <span></span> </div>
            <div class="ninecol last"> <a href="{% url login %}">Logout</a> <span>|</span> <span>Welcome, <strong>{{ request.user.first_name }}</strong></span> </div>
        </div>

        <div id="user-options" class="row">
            <div class="threecol"><a href="{% url leap_index %}"><img class="logo" src="{{ STATIC_URL }}images/leap_logo.png" alt="QuickAdmin" /></a></div>
           {% if show_multi_select %}
                <script type="text/javascript">
                </script>
            <div class="fourcol" id='fund_multi_select_div'>
                <!--<span style='color: #000; float: left; font-weight: bold;'>Limit Fund:</span>-->
                <select  multiple="true" id='fund_multi_select'  name="fund_multi_select">
                    {% for fund in fund_list %}
                        <optgroup label="{{ fund.fund_name }}">
                            {% for sf in fund.sub_funds %}
                                <option {% if sf.sub_fund_id in request.session.selected_funds %} selected="selected" {% endif %} value='{{ sf.sub_fund_id }}'>{{ sf.sub_fund_name }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="fivecol last fixed">
            {% else %}
            <div class="ninecol last fixed">
            {% endif %}
                
                <ul class="nav-user-options">
                    <li><a href="#"><img src="{{ STATIC_URL }}images/icons/icon-menu-messages.png" alt="Warehouse" />&nbsp; Warehouse</a></li> 
                    <li><a href="#"><img src="{{ STATIC_URL }}images/icons/icon-menu-messages.png" alt="Leap" />&nbsp; LEAP&#0153;</a></li> 
                    <!--<li>
                        <a href="#"><img src="{{ STATIC_URL }}images/icons/icon-menu-settings.png" alt="Settings" />&nbsp; Settings <img class="pin" src="{{ STATIC_URL }}images/back-nav-sub-pin.png" alt="" /></a>
                        
                        <ul>
                            <li class="first"><a href="#">Item number 01</a></li>
                            <li><a href="#">Item number 02</a></li>
                            <li><a href="#">Item number 03</a></li>
                            <li class="last"><a href="#">Item number 04</a></li>
                            <li class="pin"></li>
                        </ul>
                        </li>-->
                </ul>
                
            </div>
        </div>
    </div>
    {% endblock %}
    <div class="container">
        <div class="row">
        
    {% block side_nav %} 
            <div id="sidebar" class="threecol">
                <ul id="navigation">
                    <li class="first {% ifequal active_page "home_page" %}active{% endifequal %}"><a href="{% url leap_index %}">Dashboard <span class="icon-dashboard"></span> </a></li> 
                    <li class="sub 
                        {% ifequal active_page "active_policy_list" %}active{% endifequal %}
                        {% ifequal active_page "inactive_policy_list" %}active{% endifequal %}
                        {% ifequal active_page "maturity_claims" %}active{% endifequal %}
                        {% ifequal active_page "grace_events_list" %}active{% endifequal %}
                        {% ifequal active_page "monthly_valuations" %}active{% endifequal %}
                    "> 
                        <a href="#l">Policies <img src="{{ STATIC_URL }}images/back-nav-sub-pin.png" alt="" /> <span class="icon-paper"></span></a>
                        <ul>
                            <li class="{% ifequal active_page "active_policy_list" %}active{% endifequal %}"><a href="{% url active_policy_list %}">Active Policies </a></li>
                            <li class="{% ifequal active_page "inactive_policy_list" %}active{% endifequal %}"><a href="{% url inactive_policy_list %}">Inactive Policies</a></li>
                            <li class="{% ifequal active_page "grace_events_list" %}active{% endifequal %}"><a href="{% url grace_events_list %}">Grace Events</a></li>
                            <li class="{% ifequal active_page "maturity_claims" %}active{% endifequal %}"><a href="{% url maturity_claims %}">Maturities</a></li>
                            <li class="{% ifequal active_page "monthly_valuations" %}active{% endifequal %}"><a href="{% url monthly_valuations %}">Monthly Valuations</a></li>
                        </ul>
                    </li>
                    <li class="sub 
                        {% ifequal active_page "premium_pending" %}active{% endifequal %}
                        {% ifequal active_page "premium_history" %}active{% endifequal %}
                        {% ifequal active_page "premium_grace" %}active{% endifequal %}
                    ">
                        <a href="#l">Premiums<img src="{{ STATIC_URL }}images/back-nav-sub-pin.png" alt="" /> <span class="icon-elements"></span></a>
                        <ul>
                            <li class="{% ifequal active_page "premium_pending" %}active{% endifequal %}"><a href="{% url premium_pending %}">Pending Premiums</a></li>
                            <li class="{% ifequal active_page "premium_history" %}active{% endifequal %}"><a href="{% url premium_history %}">Premium History</a></li>
                        </ul>
                    </li>
                    <li class="sub 
                        {% ifequal active_page "active_insured_list" %}active{% endifequal %}
                        {% ifequal active_page "inactive_insured_list" %}active{% endifequal %}
                        {% ifequal active_page "outdated_insured_list" %}active{% endifequal %}
                        {% ifequal active_page "life_expectancy_list" %}active{% endifequal %}
                    ">
                        <a href="#l">Insureds<img src="{{ STATIC_URL }}images/back-nav-sub-pin.png" alt="" /> <span class="icon-forms"></span></a>
                        <ul>
                            <li class="{% ifequal active_page "active_insured_list" %}active{% endifequal %}"><a href="{% url active_insured_list %}">Active Insureds</a></li>
                            <li class="{% ifequal active_page "inactive_insured_list" %}active{% endifequal %}"><a href="{% url inactive_insured_list %}">Inactive Insureds</a></li>
                            <li class="{% ifequal active_page "outdated_insured_list" %}active{% endifequal %}"><a href="{% url outdated_insured_list %}">Outdated Life Expectancies</a></li>
                            <li class="{% ifequal active_page "life_expectancy_list" %}active{% endifequal %}"><a href="{% url life_expectancy_list %}">Life Expectancies</a></li>
                        </ul>
                    </li>
                    <li class="sub 
                        {% ifequal active_page "jobs_completed" %}active{% endifequal %}
                        {% ifequal active_page "jobs_pending" %}active{% endifequal %}
                    ">
                        <a href="#l">Jobs<img src="{{ STATIC_URL }}images/back-nav-sub-pin.png" alt="" /> <span class="icon-faq"></span></a>
                        <ul>
                            <li class="{% ifequal active_page "jobs_pending" %}active{% endifequal %}"><a href="{% url jobs_pending %}">In Progress Jobs</a></li>

                            <li class="{% ifequal active_page "jobs_completed" %}active{% endifequal %}"><a href="{% url jobs_completed %}">Completed Jobs</a></li>
                        </ul>
                    </li>
                    <li class="{% ifequal active_page "insurance_companies" %}active{% endifequal %}">
                    <a href="{% url insurance_companies_list %}">Insurance Companies <span class="icon-error"></span></a>
                    </li>
                    <li class="{% ifequal active_page "alerts" %}active{% endifequal %}">
                    <a href="{% url alerts %}">Alerts <span class="icon-volume"></span></a>
                    </li>
                    <li class="{% ifequal active_page "charts" %}active{% endifequal %}">
                    <a href="{% url charts %}">Charts <span class="icon-charts"></span></a>
                    </li>
                </ul>
            </div>
    {% endblock %}
