<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd"> 
<html dir="ltr" lang="en-US" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% if page_title %}{{ page_title }}{% else %}LEAP{% endif %}</title>
        
        
        <!-- 1140px Grid styles for IE -->
        <!--[if lte IE 9]><link rel="stylesheet" href="{{ STATIC_URL}}css/ie.css" type="text/css" media="screen" /><![endif]-->

        <!-- The 1140px Grid -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/1140.css" type="text/css" media="screen" />
        
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" type="text/css" media="screen" />
        <link rel='stylesheet' href='{{ STATIC_URL }}css/default.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='{{ STATIC_URL }}css/jquery-ui-1.8.19.custom.css' type='text/css' media='screen' />

        
        <!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
        <script type="text/javascript" src="{{ STATIC_URL }}js/css3-mediaqueries.js"></script>
        
            
        <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold|PT+Sans+Narrow:regular,bold|Droid+Serif:iamp;v1' rel='stylesheet' type='text/css' />
        
        
        <!-- js -->
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery-1.7.2.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery-ui-1.8.19.custom.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.dataTables.min.js'></script>
        
        
        <!-- Charts -->
        <!--<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.raphael/raphael-min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.morris/morris.min.js'></script>-->
        <!--<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.min.js'></script>-->
        <!--<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.wijmo-complete.all.2.0.8.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.wijmo-open.all.2.0.8.min.js'></script>-->
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.wijmo-complete.all.2.1.0.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.wijmo-open.all.2.1.0.min.js'></script>
        <!--<script type='text/javascript' src='{{ STATIC_URL }}js/jquery.flot/jquery.flot.pie.js'></script>-->
        <link rel='stylesheet' href='{{ STATIC_URL }}css/jquery.flot.css' type='text/css' media='screen' />
        <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{ STATIC_URL}}js/jquery.flot/excanvas.min.js"></script><![endif]-->
        
        <!-- WYSISYG Editor -->
        <script type='text/javascript' src='{{ STATIC_URL }}js/nicEdit/nicEdit.js'></script>
        
        
        <!-- Forms Elemets -->
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.uniform/jquery.uniform.min.js'></script>
        <link rel='stylesheet' href='{{ STATIC_URL }}js/jquery.uniform/uniform.default.css' type='text/css' media='screen' />
        <link rel='stylesheet' href='{{ STATIC_URL }}css/print.css' type='text/css' media='print' />
        
        
        <!-- Table sorter -->
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.tablesorter/jquery.tablesorter.min.js'></script>
        <script type='text/javascript' src='{{ STATIC_URL }}js/table.resizable/resizable.tables.js'></script>
        
        
        <!-- Lightbox - Colorbox -->
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.colorbox/jquery.colorbox-min.js'></script>
        <link rel='stylesheet' href='{{ STATIC_URL }}js/jquery.colorbox/colorbox.css' type='text/css' media='screen' />
        
        
        <!--<script type='text/javascript' src='{{ STATIC_URL }}js/custom.js'></script>-->
        <script type='text/javascript' src='{{ STATIC_URL }}js/jquery.multiselect.min.js'></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.multiselect.css" type="text/css" media="screen" />
        <script type='text/javascript' src='{{ STATIC_URL }}js/global.js'></script>
        <link rel='stylesheet' href='{{ STATIC_URL }}css/jquery.wijmo-complete.2.0.8.css' type='text/css' media='screen' />
        {% block extra_head %}{% endblock %} 
    </head>

    <body class="blue_texture {% block body_class %}{% endblock %}">
     
        {% block top_nav %}{% endblock %} 
    <div class="container">
        <div class="row">
        
        {% block side_nav %}{% endblock %} 
            
            <div id="content" class="ninecol last">
                {% block content %}{% endblock %}
                
                
                    </div>
                    
                    <div class="shadow"></div>
                </div>
                
                
            </div>          
        </div>
    </div>
    
    <script type="text/javascript">
            setTimeout(function() { window.location.href = '/login/?expired=true'; }, 20 * 60 * 1000);
    </script>
    </body>
    
</html>
    
